p {
  margin: 10px 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.m-main {
  max-width: 1200px;
  min-height: 739px;
  padding-top: 20px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13); }
  .m-main .m-wrapper {
    padding: 0 33px;
    border-bottom: 1px solid #eee; }
  .m-main .m-cateory, .m-main .m-subject {
    font-size: 0; }
    .m-main .m-cateory .title-box .return-task, .m-main .m-subject .title-box .return-task {
      display: inline-block;
      right: 20px;
      top: 15px;
      font-size: 16px;
      color: #5d9cec; }
    .m-main .m-cateory .title-box:after, .m-main .m-subject .title-box:after {
      display: block;
      content: ' ';
      clear: both;
      overflow: hidden;
      visibility: hidden; }
    .m-main .m-cateory .m-title, .m-main .m-subject .m-title {
      margin-bottom: 16px;
      font-size: 16px;
      color: #5d9cec; }
    .m-main .m-cateory .label-list .label-list, .m-main .m-subject .label-list .label-list {
      margin-right: -18px; }
    .m-main .m-cateory .label-list .box, .m-main .m-subject .label-list .box {
      max-width: 1000px; }
    .m-main .m-cateory .label-list .label, .m-main .m-subject .label-list .label {
      display: inline-block;
      box-sizing: border-box;
      width: 161px;
      height: 32px;
      color:#5e5d5d;
      line-height: 32px;
      font-weight: normal;
      padding:0;
      margin: 0 18px 14px 0;
      border: 1px solid transparent;
      font-size: 16px;
      text-align: center;
      cursor: pointer; }
    .m-main .m-cateory .label-list .label.checked, .m-main .m-subject .label-list .label.checked {
      display: inline-block;
      box-sizing: border-box;
      width: 161px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #5d9cec;
      color: #5d9cec; }
  .m-main .btn-get-task, .m-main .inactive {
    display: block;
    width: 141px;
    height: 43px;
    margin: 119px auto;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none; }
  .m-main .btn-get-task {
    background-color: #5D9CEC;
    cursor: pointer; }
  .m-main .btn-get-task:hover {
    box-shadow: 0 0 8px rgba(93, 156, 236, 0.56);
    -webkit-box-shadow: 0 0 8px rgba(93, 156, 236, 0.56);
    -moz-box-shadow: 0 0 8px rgba(93, 156, 236, 0.56); }
  .m-main .inactive {
    background-color: #959595;
    cursor: auto; }
