.m-no-main {
  box-sizing: border-box;
  width: 1200px;
  height: 770px;
  background: #fff;
  margin: 0 auto;
  padding: 282px 0 0 334px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.13); }
  .m-no-main .m-no-icon {
    float: left;
    margin-right: 61px; }
  .m-no-main .m-no-txt {
    padding-top: 15px; }
    .m-no-main .m-no-txt p {
      margin-bottom: 17px; }
    .m-no-main .m-no-txt .line1 {
      font-size: 30px;
      color: #5D9CEC; }
    .m-no-main .m-no-txt .line2 {
      font-size: 20px;
      color: #999999;
      margin-bottom: 29px; }
    .m-no-main .m-no-txt a {
      display: inline-block;
      width: 160px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 5px;
      background: #5D9CEC;
      color: #fff; }
